<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:include filename="$(find staubli_resources)/urdf/common_colours.xacro"/>

	<xacro:macro name="material_staubli_white">
		<material name="">
			<color rgba="${colour_staubli_white}"/>
		</material>
	</xacro:macro>

</robot>
